/***********************************************************************************************/
/* SASS Variables */
/***********************************************************************************************/
$link-color: #33aaff;
// $link-color: #E74B34;
$copy-right-text: #648880;
$link-color-hover: #ffffff;

$text-color: #6c6c6c;

$border-color: #E0E0E0;

$blockquote-color: #2894d8;

$header-main-color: #3694b7;
$light-bg-heading-one: #3b5568;
$light-bg-heading-two: #6694b4;
$dark-bg-heading-one: white;
$dark-bg-heading-two: #3694b7;

$base-font-size: 16px;
$body-font: "Cabin", Helvetica, Arial, sans-serif;
// $serif-font: "Gentium Basic", Georgia, serif;
$heading-font: $body-font;

$baseline: $base-font-size * 1.5;

$icon-size: 30px;


/***********************************************************************************************/
/* Initial SASS Variables */
/***********************************************************************************************/
$primary: #3292a6;
$primary-overlay: rgba(50,146,166,0.8);
$primary-overlay-2: rgba(127, 140, 141,0.1);
$hero-text-background: rgba(44, 62, 80, 0.9);
$card-color: rgba(110, 94, 80, 0.8);
$card-color-2: rgba(44, 62, 80, 1.0);

/***********************************************************************************************/
/* 1. General Styles */
/***********************************************************************************************/
body {
    // margin-top: 105px;
    font: 16px/24px $body-font;
    color: $text-color;

    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

p {
    margin-bottom: $baseline;
}

// h1 { font: 36px/1.5em $heading-font }

// h2, h3 { font: 21px/1.5em $heading-font }

// h4 { font: 16px/1.5em $heading-font }

// h5 { font: 14px/1.5em $heading-font }

// h6 { font: 12px/1.5em $heading-font }

a {
    color: $link-color;

    &:hover {
        color: $link-color-hover;
    }
}

.navbar {
    box-shadow: 2px 2px 5px $primary;
    opacity: 0.9;
    background: #fff;
    border-bottom: 3px solid $card-color-2;

    .nav-item {
        font-size: 1.4rem;
        padding-right: 20px;
    }
}

#contact-modal, .modal-content {
    background-color: rgba(39,41,48,0.985);
}

.modal-dialog {
    margin-top: 90px;
}

.modal-content {
    border: none;

    .modal-header {
        border-bottom: 1px solid $text-color;
        padding-left: 0;

        h1 { color: white; }

        button {
            .fa-times {
                color: $text-color;
                text-shadow: none;
                // text-decoration: none;
                font-size: 30px;
            }
        }
    }

    .modal-body {
        padding-left: 0;
        ul li { list-style: none; text-align: left; }
        ul {
            padding-left: 0;
            li { 
                margin-top: 18px;       
                h3 {
                    color: #3694b7;
                    // margin-left: 20px;
                }
                .fa {
                    margin-right: 21px;
                    margin-top: 9px;
                    float: left;
                    text-align: center;
                    display: inline-block;
                    width: 20px;
                }
            }
            li.email {
                a {
                    color: $dark-bg-heading-two;
                    text-decoration: none;
                }
            }
            li.mobile-nos {
                h3 {
                    color: $text-color;
                }
            }
        }
    }
}

#showcase {
    position: relative;
    background: url('../img/interior-1.jpeg') no-repeat center center;
    background-size: cover;
    // background-position: 50%;
    min-height: 500px;

    .primary-overlay {
        background: $primary-overlay-2;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .hero-text {
            background-color: $hero-text-background;
        }

        .hero-text .btn {
            font-size: $base-font-size;
            padding: 10px 16px;
            color: #fff;
            border: 2px solid #fff;
            background-color: transparent;
            &:hover {
                background-color: #fff;
                color: $hero-text-background;
            }
        }


        h1 {
            color: $dark-bg-heading-one;
        }

        h2.lead {
            color: $dark-bg-heading-two;
            font-size: 28px;
        }
    }
}

#service-small-features {
    background: url(../img/pattern-dark.jpg);

    .fa {
        font-size: $icon-size;
        color: $link-color;
    }

    // change the name of this selector
    .p4.align-self-end {
        h2 {
            color: $dark-bg-heading-two;
            // .text-shadow(1px, 1px, 1px, rgba(0, 0, 0, 0.5));
        }

        p {
            color: white;
        }
        margin-left: 20px;
    }
}

#services {
    .service-cards {
        div:nth-child(even) .card {
            background-color: $card-color-2;
        }
    }
}

#contact {
    background: url(../img/regal.png);

    .contact-card {
        background-color: #34495E;
    }
}

#pricing-table {
    #furnished {
        // color: white;
        // background-color: grey;
    }
    // background-color: blue;
    .inventory {
        color: white;
        background-color: orange;
        font-size: 14px;
        text-align: center;
        text-transform: uppercase;
    }
    .check-in {
        color: white;
        background-color: cyan;
        font-size: 14px;
        text-align: center;
        text-transform: uppercase;
    }
    .check-in-inventory {
        color: white;
        background-color: brown;
        font-size: 14px;
        text-align: center;
        text-transform: uppercase;
    }
}

#footer {

    background-color: $card-color-2;

    .info{
        .fa {
            padding-right: 20px;
            border-right: 1px solid $text-color;
        }
    }

    .list {
        padding-left: 20px;

        .hide {
            visibility: hidden; 
        }
    }

    .social {
        div:first-of-type .fa {
            padding-right: 20px;
            border-right: 1px solid $text-color;               
        }

        .list {
            padding-left: 20px;
        }

        ul li {
            display: inline-block;
            padding-right: 20px;
        }
    }

    .fa {
        font-size: 25px;
    }

    .copyright {
        border-top: 1px solid rgba(127, 140, 141,1.0);
        color: $copy-right-text;
    }
}