<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My App</title>
</head>
<body>
    <h1 class="text-danger">Welcome <%= title %></h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente sed illo at quaerat dolorem officia repellendus, consequuntur aliquam accusamus accusantium numquam autem corporis repudiandae necessitatibus vel reiciendis labore quam in.</p>
</body>
</html>