<!DOCTYPE html>
<html lang="en">
<% include partials/page/head.ejs %>

<body id="home">
    <% include partials/page/navbar.ejs %>
    <!-- CONTACT MODAL -->
    <div class="modal fade" id="contact-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="exampleModalLongTitle">Contact Us</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <!-- <span aria-hidden="true">&times;</span> -->
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="clearfix">
                        <li class="email">
                            <span class="fa fa-envelope-o fa-lg" aria-hidden="true"></span>
                            <h3><a href="mailto:hello@baseline-inventories.co.uk">hello@baseline-inventories.co.uk</a></h3>
                        </li>
                        <li class="mobile-nos">
                            <span class="fa fa-mobile-phone fa-lg" aria-hidden="true"></span>
                            <h3>07825991137</h3>
                        </li>
                        <!-- <li>
                            <span class="fa fa-map-marker fa-lg " aria-hidden="true"></span>
                            <h3>Registered address</h3>
                        </li> -->
                        <li>
                            <span class="fa fa-facebook fa-lg"></span>
                            <h3>Baseline Inventories on Facebook</h3>
                        </li>
                        <li>
                            <span class="fa fa-twitter fa-lg"></span>
                            <h3>Baseline Inventories on Twitter</h3>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- Modal -->

    <section id="showcase" class="py-5">
        <div class="primary-overlay text-white">
            <div class="container">
                <div class="row mt-5">
                    <div class="hero-text col-lg-6 m-auto text-center py-3">
                        <h1 class="pmd-display3">Baseline Inventories</h1>
                        <h2 class="lead">Professional Inventory Services.</h2>
                        <a href="#" class="btn pmd-btn-outline pmd-ripple-effect my-3">Contact Us Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- SERVICES-SMALL-FEATURES -->
    <section id="service-small-features" class="py-4">
        <div class="container">
            <div class="row pb-4">
                <div class="col-lg-4">
                    <div class="d-flex flex-row">
                        <div class="p4 align-self-start">
                            <i class="fa fa-key"></i>
                        </div>
                        <div class="p4 align-self-end">
                            <h2>Tenancy Check In</h2>
                            <p>This includes meeting the tenant at the property, perusing the inventory in detail with the tenant(s) pointing out any significant damage. Also arranging</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="d-flex flex-row">
                        <div class="p4 align-self-start">
                            <i class="fa fa-check"></i>
                        </div>
                        <div class="p4 align-self-end">
                            <h2>Tenancy Check In</h2>
                            <p>This includes meeting the tenant at the property, perusing the inventory in detail with the tenant(s) pointing out any significant damage. Also arranging</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="d-flex flex-row">
                        <div class="p4 align-self-start">
                            <i class="fa fa-check"></i>
                        </div>
                        <div class="p4 align-self-end">
                            <h2>Tenancy Check In</h2>
                            <p>This includes meeting the tenant at the property, perusing the inventory in detail with the tenant(s) pointing out any significant damage. Also arranging</p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
        </div>
    </section>

    <!-- SERVICES -->
    <section id="services" class="py-5">
        <div class="container">
            <div class="row service-cards">
                <div class="col-md-6 col-lg-3 pb-3">
                    <div class="card text-center border-primary pmd-z-depth-1">
                        <div class="card-body">
                            <h2 class="text-primary">Inventory</h2>
                            <p class="text-muted">Lorem ipsum dolor sit amet, consecteturs adipisicing elit. Alias rerum debitis assumenda autem. Doloremque provident magnam, debitis obcaecati nobis similique expedita odit quidem soluta, id. Rem ullam, dolorem nisi totam!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 pb-3">
                    <div class="card text-center text-white pmd-z-depth-1">
                        <div class="card-body">
                            <h2>Check In</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias rerum debitis assumenda autem. Doloremque provident magnam, debitis obcaecati nobis similique expedita odit quidem soluta, id. Rem ullam, dolorem nisi totam!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 pb-3">
                    <div class="card text-center border-primary pmd-z-depth-1">
                        <div class="card-body">
                            <h2 class="text-primary">Mid Term Inspection</h2>
                            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias rerum debitis assumenda autem. Doloremque provident magnam, debitis obcaecati nobis similique expedita odit quidem soluta, id. Rem ullam, dolorem nisi totam!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 pb-3">
                    <div class="card text-center text-white pmd-z-depth-1">
                        <div class="card-body">
                            <h2>Check Out</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias rerum debitis assumenda autem. Doloremque provident magnam, debitis obcaecati nobis similique expedita odit quidem soluta, id. Rem ullam, dolorem nisi totam!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- CONTACT -->
    <!-- <section id="contact" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 pb-5 mx-auto">
                    <div class="card card-inverse w-100 text-white contact-card">
                        <h3 class="card-header">Get In Touch</h3>
                        <div class="card-block">
                            <ul class="list-unstyled">
                                <li><span class=""><i class="fa fa-map-pin"></i> 38 Ambleside, Purfleet, RM19 1PX</li>
                                <li><span class=""><i class="fa fa-envelope"></i></span> info@baselineinventory.com</li>
                                <li><span class=""><i class="fa fa-mobile"></i> 07956433606</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h3>Contact Us</h3>
                    <form>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" placeholder="Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                <input type="email" class="form-control" placeholder="Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                                <textarea class="form-control" placeholder="Message" rows="5"></textarea>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block btn-lg">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </section> -->
    <footer id="footer" class="container-fluid">
        <div class="container text-muted pb-4">
            <div class="row py-5">
                <div class="info col-lg-4 d-flex flex-row">
                    <div class="align-self-start">
                        <i class="fa fa-map-marker"></i>
                    </div>
                    <div class="list align-self-end">
                        <h2>Areas we cover</h2>
                        <ul class="list-unstyled">
                            <li>Kent</li>
                            <li>Essex</li>
                            <li>Surrey</li>
                        </ul>
                    </div>
                </div>
                <div class="info col-lg-4 d-flex flex-row">
                    <div class="align-self-start">
                        <i class="fa fa-mobile-phone"></i>
                    </div>
                    <div class="list align-self-end">
                        <h2>Contact Us</h2>
                        <ul class="list-unstyled">
                            <li>Email: <a href="mailto:hello@baseline-inventories.co.uk">hello@baseline-inventories.co.uk</a></li>
                            <li>Mobile: 07825991137</li>
                            <li class="hide">Address</li>
                        </ul>
                    </div>
                </div>
                <div class="social col-lg-4 d-flex flex-row">
                    <div class="p4">
                        <i class="fa fa-thumbs-o-up"></i>
                    </div>
                    <div class="list p4">
                       <h2>Follow Us</h2>
                       <ul class="list-unstyled">
                           <li><a href=""><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                           <li><a href=""><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                       </ul>
                    </div>
                </div>
            </div>
            <div class="copyright row pt-4">
                <p>&copy; All rights reserved <%= new Date().toISOString().substr(0,4) %>. Baseline Inventories Ltd.</p>
            </div>

        </div>
    </footer><!-- footer -->
    <% include partials/page/jsdefaults.ejs %>
</body>
</html>
