<!DOCTYPE html>
<html lang="en">
<% include partials/page/head.ejs %>  

<body id="home">
    <% include partials/page/navbar.ejs %>

    <section id="showcase" class="py-5">
        <div class="primary-overlay text-white">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <h1 class="display-5 mt-5 pt-5">App.js: Baseline Inventory Servicess <%= title %></h1>
                        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="more-info">
        
    </section>
    
    <% include partials/page/jsdefaults.ejs %> 
</body>
</html>