<!DOCTYPE html>
<html lang="en">
<% include partials/page/head.ejs %>  

<body id="home">
    <% include partials/page/navbar.ejs %>

    <section id="showcase" class="py-5">
        <div class="primary-overlay text-white">
            <div class="container">
                <div class="row mt-5">
                    <div class="hero-text col-lg-6 m-auto text-center py-3">
                        <h1 class="display-5">App-js: Baseline Inventory Services for <%= title %></h1>
                        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- SERVICES -->
    <section id="services" class="py-5">
        <div class="container">
            <div class="row service-cards">
                <div class="col-md-6 col-lg-3 pb-3">
                    <div class="card text-center border-primary">
                        <div class="card-body">
                            <h4 class="text-primary">Inventory</h4> 
                            <p class="text-muted">Lorem ipsum dolor sit amet, consecteturs adipisicing elit. Alias rerum debitis assumenda autem. Doloremque provident magnam, debitis obcaecati nobis similique expedita odit quidem soluta, id. Rem ullam, dolorem nisi totam!</p> 
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 pb-3">
                    <div class="card text-center text-white">
                        <div class="card-body">
                            <h4>Check In</h4> 
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias rerum debitis assumenda autem. Doloremque provident magnam, debitis obcaecati nobis similique expedita odit quidem soluta, id. Rem ullam, dolorem nisi totam!</p> 
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 pb-3">
                    <div class="card text-center border-primary">
                        <div class="card-body">
                            <h4 class="text-primary">Mid Term Inspection</h4> 
                            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias rerum debitis assumenda autem. Doloremque provident magnam, debitis obcaecati nobis similique expedita odit quidem soluta, id. Rem ullam, dolorem nisi totam!</p> 
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 pb-3">
                    <div class="card text-center text-white">
                        <div class="card-body">
                            <h4>Check Out</h4> 
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias rerum debitis assumenda autem. Doloremque provident magnam, debitis obcaecati nobis similique expedita odit quidem soluta, id. Rem ullam, dolorem nisi totam!</p> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <footer class="container-fluid">
        <div class="container text-muted pb-4">
            <div class="row pt-5">
                <div class="col-lg-4">
                    <h5>Areas we cover</h5>
                    <ul class="list-unstyled">
                        <li>Kent </li>
                        <li>Essex</li>
                        <li>Surrey</li>
                    </ul>
                </div>
                <div class="col-lg-4">
                        <h5>Nav items</h5>
                        <ul class="list-unstyled">
                            <li>Home</li>
                            <li>Services</li>
                            <li>Prices</li>
                            <li>Contact</li>
                        </ul>
                    </div>                
                <div class="col-lg-4 ml-auto">
                    <p>social media icons</p>
                </div>
            </div>
            <div class="copyright row pt-4">
                <p>&copy; All rights reserved <%= new Date().toISOString().substr(0,4) %>. Baseline Inventories Ltd.</p>
            </div>
        </div>
    </footer><!-- footer -->
    
    <% include partials/page/jsdefaults.ejs %> 
</body>
</html>